---
layout: home
title: Blog
---

{% include header-blog.html%}


       





<div class="blog-list">

    
        {% for post in site.posts %}
            <a href="{{ post.url }}">
                <div class="blog-link">
                    <img src="{{ post.image | prepend: site.baseurl }}">
                    <h2>{{ post.title }}</h2>      
                    <p>{{ post.description }}</p>
                    <div class="readmore">
                        <a href="{{ post.url }}">Read More...</a>
                    </div>
                </div>
            </a>




          
        {% endfor %}
    


</div>




